body {
    margin:0;
    /* height:100vh; */
    background: linear-gradient( 
        115deg,
        rgb(83, 24, 178) 0% 2.5%,
        rgb(81, 24, 175) 2.5% 5%,
        rgb(79, 25, 172) 5% 7.5%,
        rgb(77, 25, 170) 7.5% 10%,
        rgb(75, 26, 167) 10% 12.5%,
        rgb(74, 26, 164) 12.5% 15%,
        rgb(72, 26, 161) 15% 17.5%,
        rgb(70, 26, 158) 17.5% 20%,
        rgb(68, 26, 155) 20% 22.5%,
        rgb(66, 26, 153) 22.5% 25%,
        rgb(65, 26, 150) 25% 27.5%,
        rgb(63, 27, 147) 27.5% 30%,
        rgb(61, 27, 144) 30% 32.5%,
        rgb(60, 26, 141) 32.5% 35%,
        rgb(58, 26, 139) 35% 37.5%,
        rgb(57, 26, 136) 37.5% 40%,
        rgb(55, 26, 133) 40% 42.5%,
        rgb(54, 26, 130) 42.5% 45%,
        rgb(52, 26, 127) 45% 47.5%,
        rgb(51, 26, 125) 47.5% 50%,
        rgb(49, 26, 122) 50% 52.5%,
        rgb(48, 25, 119) 52.5% 55%,
        rgb(46, 25, 116) 55% 57.5%,
        rgb(45, 25, 114) 57.5% 60%,
        rgb(44, 25, 111) 60% 62.5%,
        rgb(42, 24, 108) 62.5% 65%,
        rgb(41, 24, 105) 65% 67.5%,
        rgb(40, 24, 102) 67.5% 70%,
        rgb(39, 23, 100) 70% 72.5%,
        rgb(38, 23, 97) 72.5% 75%,
        rgb(36, 23, 94) 75% 77.5%,
        rgb(35, 22, 92) 77.5% 80%,
        rgb(34, 22, 89) 80% 82.5%,
        rgb(33, 22, 86) 82.5% 85%,
        rgb(32, 21, 83) 85% 87.5%,
        rgb(31, 21, 81) 87.5% 90%,
        rgb(30, 20, 78) 90% 92.5%,
        rgb(29, 20, 75) 92.5% 95%,
        rgb(28, 19, 73) 95% 97.5%,
        rgb(27, 19, 70) 97.5% 100%
    );
    background-repeat: no-repeat;
    /* background-size: 100% 100%;  */
    /* height: 120vh; */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    margin: 0 3vw;
    display: flex;
    position: relative;
    top: 3vh;
    width: 80vw;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 7vh;
}

ul {
    width: 60vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
  
@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat-Regular.otf);
}


li {
    font-family: Montserrat;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vh 2.5vw;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#logo {
    display: flex;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(179, 70, 242) 0%, rgb(96, 9, 180) 100%);
    float: left;
    width: 10vw;
    height: 7vh;
    background-color: antiquewhite;
    background-size: contain;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.middle {
    padding-top: 5vh;
    /* position: relative; */
    display: flex;
    flex-flow: row;
    height: 100%;
    justify-content: space-between;
}
.middle:after {
    content: "";
    display: table;
    clear: both;
    }
.leftside {
    position: relative;
    left: 10vw;
}
.texts {
    font-family: Montserrat;
    position: relative;
    top: 20vh;
    color: white;
}

.title {
    font-size: 5vh;
    font-weight: bold;
    width: fit-content;
}

.subtitle {
    width: 25vw;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 2vh;
    position: relative;
}
.button {
    border-radius: 15px;
    border: none;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    top: 20vh;
  }

.button1 {
    background: linear-gradient(to right, rgb(179, 70, 242) 0%, rgb(96, 9, 180) 100%);
    font-family: Montserrat;
    color: white;
  }
  
  .button1:hover {
    background: rgb(64, 22, 103);
  }
.guyImg {
    top: 5vh;
    margin-left: 10vw;
    width: 60vw;
    background: url(/assets/images/theGuy.svg) no-repeat;
    background-size: contain;
    overflow: hidden;
}